<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/lawyers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<% layout('layouts/Boilerplate') %>

<section>
    <div>
        <h1 class="heading">Criminal Defense Lawyers</h1>
        <div class="card-wrapper">
            <div class="card">
                <img class="card-img" src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg" alt="Card Background">
                <img class="profile-img" src="https://ineedadvocate.com/wp-content/uploads/2020/08/FB_IMG_1596533880672.jpg" alt="Advocate Jaspreet Singh Rai">
                <h1>Advocate Jaspreet Singh</h1>
                <p class="exp"><i>Experience: 19Years</i></p>
                <p class="about">
                    Advocate Jaspreet S Rai completed his law in the year 2003 and has been providing services in various 
                    fields of law, including, but not limited to Civil, Criminal, Arbitration, Labour & Service Matters, 
                    Intellectual Property Rights, Trademark, matters relating to Property Law, Copyright.
                </p>

                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>

                <a href="#" class="btn">Contact</a>
            </div>   
            
            <div class="card">
                <img class="card-img" src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg" alt="Card Background">
                <img class="profile-img" src="https://www.howtoacademy.com/wp-content/uploads/2019/05/Sayeeda-Warsi-288x288-450x450.jpg" alt="Advocate Farhat Warsi">
                <h1>Advocate Farhat Warsi</h1>
                <p class="exp"><i>Experience: 22Years</i></p>
                <p class="about">
                    Advocate Farhat provides services in various field of Immigration law Matters, Civil laws, Criminal laws, 
                    Family law, Consumer cases, Property related matters, Matrimonial related matters and drafting and 
                    vetting of various agreements and documents. She has done LLB in 2003 from Calcutta University.
                </p>

                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>

                <a href="#" class="btn">Contact</a>
            </div>

            <div class="card">
                <img class="card-img" src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg" alt="Card Background">
                <img class="profile-img" src="http://rklegal.org/handel/lawyer/wp-content/uploads/2017/09/7.jpg" alt="Advocate Rajesh K.S">
                <h1>Advocate Rajesh Kumar</h1>
                <p class="exp"><i>Experience: 17Years</i></p>
                <p class="about">
                    Advocate Rajesh's professional experience has led him to gain proficiency, not only in arguing before the 
                    Honorable Courts, but also in consulting clients and pleading. He has extensive 
                    knowledge and expertise in criminal law and has appeared in various courts in and around Bangalore.
                </p>

                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>

                <a href="#" class="btn">Contact</a>
            </div>

            <div class="card">
                <img class="card-img" src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg" alt="Card Background">
                <img class="profile-img" src="http://supremelawhouse.com/assets/images/team/team-1-2.jpeg" alt="Advocate Kartik Kumar">
                <h1>Advocate Kartik Kumar</h1>
                <p class="exp"><i>Experience: 26Years</i></p>
                <p class="about">
                    Advocate Kumar enrolled with the Bar Council of Himachal Pradesh in 2004. 
                    He is a member of the High Court and District Court Bar Association. Advocate Kartik provides services in criminal laws,
                    medical negligence matters, company law, copyright, and patents. He is a member of Bar Council of Himachal Pradesh.
                </p>

                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>

                <a href="#" class="btn">Contact</a>
            </div>

            <div class="card">
                <img class="card-img" src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg" alt="Card Background">
                <img class="profile-img" src="https://ineedadvocate.com/wp-content/uploads/2020/08/FB_IMG_1596281312152.jpg" alt="Advocate Rajneesh Kumar">
                <h1>Advocate Rajneesh Kumar</h1>
                <p class="exp"><i>Experience: 19Years</i></p>
                <p class="about">
                    Advocate Rajneesh Kumar has been practicing and handling cases independently with a result oriented approach.
                    Advocate Rajneesh provides services in various field of civil laws, criminal laws, family law, consumer 
                    cases, landlord/tenant matters, matrimonial related matters and revenue related matters. 
                </p>

                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>

                <a href="#" class="btn">Contact</a>
            </div>

            <div class="card">
                <img class="card-img" src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg" alt="Card Background">
                <img class="profile-img" src="https://ineedadvocate.com/wp-content/uploads/2020/08/FB_IMG_1596286028799-300x300.jpg" alt="Advocate Dilip Ahuja">
                <h1>Advocate Dilip Ahuja</h1>
                <p class="exp"><i>Experience: 28Years</i></p>
                <p class="about">
                    Advocate Dilip Ahuja provides services in various field of Civil Laws, Criminal Laws, Cheque Bounce, Documentation, 
                    Family Dispute, Motor Accident, Property Dispute and drafting and vetting of various agreements 
                    and documents. He is a member of the Punjab and Haryana High Court Bar Association.
                </p>

                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>

                <a href="#" class="btn">Contact</a>
            </div>

            <% for(let lawyer of lawyers) {%>
                <div class="card">
                    <img class="card-img" src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg" alt="Card Background">
                    <img class="profile-img" src="<%=lawyer.Image%>" alt="<%=lawyer.FirstName%>">
                    <h1>Advocate <%=lawyer.FirstName%></h1>
                    <p class="exp"><i>Experience: <%=lawyer.Experience%>Years</i></p>
                    <p class="about">
                        Advocate <%=lawyer.FirstName%> <%=lawyer.LastName%> is being associated with one of the top Senior Advocates of the Supreme Court of India and later with a 
                        leading law firm of New Delhi, he worked extensively in litigation and corporate advisory 
                        field handling clients in the Oil & Gas, IT, Banking and Manufacturing industry.
                    </p>
    
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>
    
                    <a href="#" class="btn">Contact</a>
                </div>
               <% } %>

        </div>
    </div>
</section>