<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/lawyers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<% layout('layouts/Boilerplate') %>


    <section>
        <div>
            <h1 class="heading">Estate Planning Lawyers</h1>
            <div class="card-wrapper">
                <div class="card">
                    <img class="card-img"
                        src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                        alt="Card Background">
                    <img class="profile-img"
                        src="https://privateclientglobalelite.com/wp-content/uploads/2018/09/Ajinkya-Bijal-e1609766027512.jpg"
                        alt="Advocate Bijal Ajinkya">
                    <h1>Advocate Bijal Ajinkya</h1>
                    <p class="exp"><i>Experience: 25Years</i></p>
                    <p class="about">
                        Advocate Bijal Ajinkya is a Partner in the Direct Tax, Private Client and Investment Funds
                        Practice Groups.
                        On the tax side, Bijal primarily focuses on Estate Planning, Trusts and structuring of inbound
                        and outbound investments, M&A tax negotiations,
                        providing opinions,etc.
                    </p>

                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <a href="#" class="btn">Contact</a>
                </div>

                <div class="card">
                    <img class="card-img"
                        src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                        alt="Card Background">
                    <img class="profile-img" src="https://i.dawn.com/large/2014/08/53dde09c1c997.gif"
                        alt="Advocate Khursheed Anwar Qureshi">
                    <h1>Advocate Khursheed</h1>
                    <p class="exp"><i>Experience: 28Years</i></p>
                    <p class="about">
                        Advocate Khursheed Qureshi is expert in bail and anticipatory bail matters. The Advocate has
                        expertise in Cheque bounce cases and
                        in conducting matters before the charity commission. He one of the best
                        and expert advocate in handling the issues related with Cantonment Act and rules.
                    </p>

                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <a href="#" class="btn">Contact</a>
                </div>

                <div class="card">
                    <img class="card-img"
                        src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                        alt="Card Background">
                    <img class="profile-img"
                        src="http://desikaanoon.in/wp-content/uploads/2020/05/WhatsApp-Image-2020-05-02-at-10.09.36-AM.jpeg"
                        alt="Advocate Vikas Pahwa">
                    <h1>Advocate Vikas Pahwa</h1>
                    <p class="exp"><i>Experience: 27Years</i></p>
                    <p class="about">
                        Advocate Vikas Pahwa is known to have represented clients from all facets of life in India.
                        His expertise comprises delving into complicated matters related to Narcotic Drugs, FEMA Cases,
                        Serious Fraud Investigation Office cases, Official Secrets Act and National Security Act.
                    </p>

                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <a href="#" class="btn">Contact</a>
                </div>

                <div class="card">
                    <img class="card-img"
                        src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                        alt="Card Background">
                    <img class="profile-img"
                        src="https://yelodotred.s3-us-west-2.amazonaws.com/images/listing_images/images/25263/medium/1.jpg?1590069054"
                        alt="Advocate Barkha Bhalla">
                    <h1>Advocate Barkha Bhalla</h1>
                    <p class="exp"><i>Experience: 19Years</i></p>
                    <p class="about">
                        Advocate Barkha provides services in various fields of Criminal matters,Cheque Bounce Matters,
                        Family matters, Consumer matters, Service matters, Cyber laws,
                        Property matters, Writ petitions and drafting and vetting of various agreements and documents.
                    </p>

                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <a href="#" class="btn">Contact</a>
                </div>

                <div class="card">
                    <img class="card-img"
                        src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                        alt="Card Background">
                    <img class="profile-img"
                        src="https://www.howtoacademy.com/wp-content/uploads/2019/05/Sayeeda-Warsi-288x288-450x450.jpg"
                        alt="Advocate Farhat Warsi">
                    <h1>Advocate Farhat Warsi</h1>
                    <p class="exp"><i>Experience: 22Years</i></p>
                    <p class="about">
                        Advocate Farhat provides services in various field of Immigration law Matters, Civil laws,
                        Criminal laws,
                        Family law, Consumer cases, Property related matters, Matrimonial related matters and drafting
                        and
                        vetting of various agreements and documents. She has done LLB in 2003 from Calcutta University.
                    </p>

                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <a href="#" class="btn">Contact</a>
                </div>

                <div class="card">
                    <img class="card-img"
                        src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                        alt="Card Background">
                    <img class="profile-img" src="https://lawrato.com/expert_images/thumb/advocate-nitish-chaudhary.jpg"
                        alt="Advocate Vijay Tangri">
                    <h1>Advocate Vijay Tangri</h1>
                    <p class="exp"><i>Experience: 23Years</i></p>
                    <p class="about">
                        Advocate Vijay Tangri is being associated with one of the top Senior Advocates of the Supreme
                        Court of India and later with a
                        leading law firm of New Delhi, he worked extensively in litigation and corporate advisory
                        field handling clients in the Oil & Gas, IT, Banking and Manufacturing industry.
                    </p>

                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <a href="#" class="btn">Contact</a>
                </div>

                <% for(let lawyer of lawyers) {%>
                    <div class="card">
                        <img class="card-img" src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg" alt="Card Background">
                        <img class="profile-img" src="<%=lawyer.Image%>" alt="<%=lawyer.FirstName%>">
                        <h1>Advocate <%=lawyer.FirstName%></h1>
                        <p class="exp"><i>Experience: <%=lawyer.Experience%>Years</i></p>
                        <p class="about">
                            Advocate <%=lawyer.FirstName%> <%=lawyer.LastName%> is being associated with one of the top Senior Advocates of the Supreme Court of India and later with a 
                            leading law firm of New Delhi, he worked extensively in litigation and corporate advisory 
                            field handling clients in the Oil & Gas, IT, Banking and Manufacturing industry.
                        </p>
        
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
        
                        <a href="#" class="btn">Contact</a>
                    </div>
                   <% } %>

            </div>
        </div>
    </section>