<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/lawyers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<% layout('layouts/Boilerplate') %>

    <section>
        <div>
            <h1 class="heading">Personal Injury Lawyers</h1>
            <div class="card-wrapper">
                <div class="card">
                    <img class="card-img"
                        src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                        alt="Card Background">
                    <img class="profile-img" src="https://i.dawn.com/large/2014/08/53dde09c1c997.gif"
                        alt="Advocate Khursheed Anwar Qureshi">
                    <h1>Advocate Khursheed</h1>
                    <p class="exp"><i>Experience: 28Years</i></p>
                    <p class="about">
                        Advocate Khursheed Qureshi is expert in bail and anticipatory bail matters. The Advocate has
                        expertise in Cheque bounce cases and
                        in conducting matters before the charity commission. He one of the best
                        and expert advocate in handling the issues related with Cantonment Act and rules.
                    </p>

                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <a href="#" class="btn">Contact</a>
                </div>

                <div class="card">
                    <img class="card-img"
                        src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                        alt="Card Background">
                    <img class="profile-img"
                        src="http://desikaanoon.in/wp-content/uploads/2020/05/WhatsApp-Image-2020-05-02-at-10.09.36-AM.jpeg"
                        alt="Advocate Vikas Pahwa">
                    <h1>Advocate Vikas Pahwa</h1>
                    <p class="exp"><i>Experience: 27Years</i></p>
                    <p class="about">
                        Advocate Vikas Pahwa is known to have represented clients from all facets of life in India.
                        His expertise comprises delving into complicated matters related to Narcotic Drugs, FEMA Cases,
                        Serious Fraud Investigation Office cases, Official Secrets Act and National Security Act.
                    </p>

                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <a href="#" class="btn">Contact</a>
                </div>

                <div class="card">
                    <img class="card-img"
                        src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                        alt="Card Background">
                    <img class="profile-img" src="http://www.observerbd.com/2018/12/09/1544356078.jpg"
                        alt="Advocate Shaniba Nowshad">
                    <h1>Advocate Shaniba</h1>
                    <p class="exp"><i>Experience: 20Years</i></p>
                    <p class="about">
                        Advocate Shaniba Nowshad has been practicing and handling cases independently,
                        both professionally and ethically in various fields of Banking / Finance, Bankruptcy /
                        Insolvency,
                        Breach of Contract, Cheque Bounce, Child Custody, Civil, Consumer Court, Corporate,
                    </p>

                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <a href="#" class="btn">Contact</a>
                </div>

                <div class="card">
                    <img class="card-img"
                        src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                        alt="Card Background">
                    <img class="profile-img"
                        src="https://yelodotred.s3-us-west-2.amazonaws.com/images/listing_images/images/25265/medium/2.jpg?1590069168"
                        alt="Advocate Bala Janaki">
                    <h1>Advocate Bala Janaki</h1>
                    <p class="exp"><i>Experience: 37Years</i></p>
                    <p class="about">
                        Advocate Bala Janaki completed her law in the year 1985 and has been providing services in
                        various fields of law, that is, Arbitration, Trademark & Copyright, Family, Property, Criminal,
                        Civil, Consumer Court, Recovery and drafting and vetting of various agreements and documents.
                    </p>

                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <a href="#" class="btn">Contact</a>
                </div>

                <div class="card">
                    <img class="card-img"
                        src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                        alt="Card Background">
                    <img class="profile-img"
                        src="https://www.legallyindia.com/images/stories/MT/image_6c9d0e51e5088fc1620f9747d79551d3.png"
                        alt="Advocate J. P. Rinwa">
                    <h1>Advocate J. P. Rinwa</h1>
                    <p class="exp"><i>Experience: 21Years</i></p>
                    <p class="about">
                        Advocate J.P. Rinwa has been practicing and handling cases independently with a result oriented
                        approach,
                        both professionally and ethically and has now acquired
                        excellent professional experience in providing legal consultancy and advisory services.
                    </p>

                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <a href="#" class="btn">Contact</a>
                </div>

                <div class="card">
                    <img class="card-img"
                        src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                        alt="Card Background">
                    <img class="profile-img"
                        src="https://yelodotred.s3-us-west-2.amazonaws.com/images/listing_images/images/25263/medium/1.jpg?1590069054"
                        alt="Advocate Barkha Bhalla">
                    <h1>Advocate Barkha Bhalla</h1>
                    <p class="exp"><i>Experience: 19Years</i></p>
                    <p class="about">
                        Advocate Barkha provides services in various fields of Criminal matters,Cheque Bounce Matters,
                        Family matters, Consumer matters, Service matters, Cyber laws,
                        Property matters, Writ petitions and drafting and vetting of various agreements and documents.
                    </p>

                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <a href="#" class="btn">Contact</a>
                </div>

                <% for(let lawyer of lawyers) {%>
                    <div class="card">
                        <img class="card-img"
                            src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                            alt="Card Background">
                        <img class="profile-img" src="<%=lawyer.Image%>" alt="<%=lawyer.FirstName%>">
                        <h1>Advocate <%=lawyer.FirstName%>
                        </h1>
                        <p class="exp"><i>Experience: <%=lawyer.Experience%>Years</i></p>
                        <p class="about">
                            Advocate <%=lawyer.FirstName%>
                                <%=lawyer.LastName%> is being associated with one of the top Senior Advocates of the
                                    Supreme Court of India and later with a
                                    leading law firm of New Delhi, he worked extensively in litigation and corporate
                                    advisory
                                    field handling clients in the Oil & Gas, IT, Banking and Manufacturing industry.
                        </p>

                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>

                        <a href="#" class="btn">Contact</a>
                    </div>
                    <% } %>

            </div>
        </div>
    </section>