<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/lawyers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<% layout('layouts/Boilerplate') %>

    <section>
        <div>
            <h1 class="heading">Tax Lawyers</h1>
            <div class="card-wrapper">
                <div class="card">
                    <img class="card-img"
                        src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                        alt="Card Background">
                    <img class="profile-img" src="http://www.observerbd.com/2018/12/09/1544356078.jpg"
                        alt="Advocate Shaniba Nowshad">
                    <h1>Advocate Shaniba</h1>
                    <p class="exp"><i>Experience: 20Years</i></p>
                    <p class="about">
                        Advocate Shaniba Nowshad has been practicing and handling cases independently,
                        both professionally and ethically in various fields of Banking / Finance, Bankruptcy /
                        Insolvency,
                        Breach of Contract, Cheque Bounce, Child Custody, Civil, Consumer Court, Corporate,
                    </p>

                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <a href="#" class="btn">Contact</a>
                </div>

                <div class="card">
                    <img class="card-img"
                        src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                        alt="Card Background">
                    <img class="profile-img"
                        src="https://lawrato.com/expert_images/thumb/advocate-praveen-pinto.jpg?cache=0"
                        alt="Advocate Praveen Pinto">
                    <h1>Advocate Praveen Pinto</h1>
                    <p class="exp"><i>Experience: 17Years</i></p>
                    <p class="about">
                        Advocate Praveen provides services in various fields of family matters, civil matters, criminal
                        related matters,
                        documentation matters, property matters and drafting and vetting of various agreements and
                        documents.
                        Advocat Praveen enrolled with the Bar Council of Karnataka in 2005.
                    </p>

                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <a href="#" class="btn">Contact</a>
                </div>

                <div class="card">
                    <img class="card-img"
                        src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                        alt="Card Background">
                    <img class="profile-img" src="https://njombethinktank.co.tz/wp-content/uploads/2021/05/2-1.png"
                        alt="Advocate Jorong Sanga">
                    <h1>Advocate Jorong Sanga</h1>
                    <p class="exp"><i>Experience: 19Years</i></p>
                    <p class="about">
                        Advocate Sanga has an expertise in handling various field of inter-alia, Suits,
                        Writs, Petitions, Appeals, Revisions, Complaints relating to debt recovery, dishonor of cheques,
                        rent control act, property disputes,
                        consumer complaints, and drafting.
                    </p>

                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <a href="#" class="btn">Contact</a>
                </div>

                <div class="card">
                    <img class="card-img"
                        src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                        alt="Card Background">
                    <img class="profile-img"
                        src="https://yelodotred.s3-us-west-2.amazonaws.com/images/listing_images/images/25263/medium/1.jpg?1590069054"
                        alt="Advocate Barkha Bhalla">
                    <h1>Advocate Barkha Bhalla</h1>
                    <p class="exp"><i>Experience: 19Years</i></p>
                    <p class="about">
                        Advocate Barkha provides services in various fields of Criminal matters,Cheque Bounce Matters,
                        Family matters, Consumer matters, Service matters, Cyber laws,
                        Property matters, Writ petitions and drafting and vetting of various agreements and documents.
                    </p>

                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <a href="#" class="btn">Contact</a>
                </div>

                <div class="card">
                    <img class="card-img"
                        src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                        alt="Card Background">
                    <img class="profile-img" src="https://lawrato.com/expert_images/thumb/advocate-nitish-chaudhary.jpg"
                        alt="Advocate Vijay Tangri">
                    <h1>Advocate Vijay Tangri</h1>
                    <p class="exp"><i>Experience: 23Years</i></p>
                    <p class="about">
                        Advocate Vijay Tangri is being associated with one of the top Senior Advocates of the Supreme
                        Court of India and later with a
                        leading law firm of New Delhi, he worked extensively in litigation and corporate advisory
                        field handling clients in the Oil & Gas, IT, Banking and Manufacturing industry.
                    </p>

                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <a href="#" class="btn">Contact</a>
                </div>

                <div class="card">
                    <img class="card-img"
                        src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                        alt="Card Background">
                    <img class="profile-img"
                        src="https://www.howtoacademy.com/wp-content/uploads/2019/05/Sayeeda-Warsi-288x288-450x450.jpg"
                        alt="Advocate Farhat Warsi">
                    <h1>Advocate Farhat Warsi</h1>
                    <p class="exp"><i>Experience: 22Years</i></p>
                    <p class="about">
                        Advocate Farhat provides services in various field of Immigration law Matters, Civil laws,
                        Criminal laws,
                        Family law, Consumer cases, Property related matters, Matrimonial related matters and drafting
                        and
                        vetting of various agreements and documents. She has done LLB in 2003 from Calcutta University.
                    </p>

                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <a href="#" class="btn">Contact</a>
                </div>

                <% for(let lawyer of lawyers) {%>
                    <div class="card">
                        <img class="card-img"
                            src="https://wallpapertag.com/wallpaper/full/f/d/5/735209-lawyer-wallpaper-hd-mobile-2048x1371-for-macbook.jpg"
                            alt="Card Background">
                        <img class="profile-img" src="<%=lawyer.Image%>" alt="<%=lawyer.FirstName%>">
                        <h1>Advocate <%=lawyer.FirstName%>
                        </h1>
                        <p class="exp"><i>Experience: <%=lawyer.Experience%>Years</i></p>
                        <p class="about">
                            Advocate <%=lawyer.FirstName%>
                                <%=lawyer.LastName%> is being associated with one of the top Senior Advocates of the
                                    Supreme Court of India and later with a
                                    leading law firm of New Delhi, he worked extensively in litigation and corporate
                                    advisory
                                    field handling clients in the Oil & Gas, IT, Banking and Manufacturing industry.
                        </p>

                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>

                        <a href="#" class="btn">Contact</a>
                    </div>
                    <% } %>

            </div>
        </div>
    </section>